*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color:#f1f3f2;
    transition: color .3s;
}
a:hover {
    color: #585a56;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-weight: normal;
}

.router-link{
    text-decoration: none;
}

input{
    width: 100%;
}

.nav-bar{
    background-color: #81a3a7;
    padding: 20px 30px;
    font-size: 2em;
}

/* KEEP */
.main-keep{		
    width: 90%;		
    margin: 0 auto;		
    color: #4a4c50		
}

.keep-form{
    margin:  20px auto;
    max-width: 650px;
    border: 1px solid #979797;
    border-radius: 4px;
}

.input-add-note, .input-add-note-title, .input-add-link, .input-add-image{
    padding: 10px;
    border: 0;
}

.pinned-other{		
    font-weight: 800;		
    margin-left: 10px;		
}

.color{
    width: 30px;
}

.open-note{
    max-width: 650px;
    margin: 20px auto;
    border: 1px solid #a9a9a9;
    padding: 10px;
    color: #767676;
}

.textarea-open{
    width: 100%;
    /* height: 100%; */
    min-height: 150px;
}

.edit-new-note{
    width: 100%;
}

.edit-new-note i {
    flex: 1;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.icon{
    margin: 0 10px;
}

.icon:hover{		
    color: #7e99a5;		
    transition: 0.3sec;		
}

.save-note button{
    margin: 15px;
    padding: 10px;
    border: 0;
    background-color: white;
    border-radius: 3px;
}

.save-note button:hover{
    background-color: rgba(235, 235, 235, 0.8);
}

.compose-header{
    width: 100%;
    justify-content: space-between;
    float: left;
    align-items: center;
    background-color: grey;
    color: white;
    padding: 4px;
}

.compose{
    padding:5px;
    border-radius: 20px;
}

h2{
    margin: 0;
}
    
.keep-notes-preview{
    border: 1px solid #7c808f;
    padding: 3px;
    margin: 5px auto;
    border-radius: 4px;
    width: 100%;
}

.keep-notes-preview:hover{
    background-color: #7e99a5;
    transition: 0.3s;
}

.fa-trash-alt{
    cursor: pointer;
}

.note-title{
    font-weight: 600;
    color: #4a4c50;
}

.note-txt{
    color: #767676;
}

.button-cancel, .button-add{
    font-size: 1.2em;
}


/* Email */
ul{
    list-style-type: none;
    padding: 0;		
    margin: 0 15px;		
    border-radius: 5px;		
}

li{		
    padding: 0 10px;		
}		
		
li:hover{		
    background-color: #7e99a5;		
    transition: 0.3s;		
    }		
		
.email-list{		
    width: 100%;		
}

.right, .left{
    border: 1px solid black;
}

.left{
    padding: 0;
    width: 25%;
    border-top-left-radius: 5px;		
    border-bottom-left-radius: 5px;
}

.right{
    width:100%;
    border-top-right-radius: 5px;		
    border-bottom-right-radius: 5px;
}

.compose{
    margin: 10px;
}

.left > div {
    margin: 10px auto;
}

.search-mail{
    /* margin: 20px; */
    padding: 5px;
}

.search-img{
    background: url('../img/serch\ icon.png');
    background-size: 100%;
    width: 30px;
    height: 30px;
}

.search-area{
    padding-left: 40px;
    margin: 30px auto;
    /* width: 100%; */
}

.email-preview>h3{
    width:30%;
    text-align: left;
}

.email-subj{
    width:45%;
    text-align: left;
}

.email-body{
    width:15%;
    text-align: left;
}

.delete-email{
    width: 5%;
    text-align: center;
    margin: 0;  
    padding: 2px;
}

.mark-as-unred{
    width:5%;
    text-align: center;
    margin: 0;
    padding: 2px;
}

.compose-email{
    position: fixed;
    height: 100%;
    z-index: 3;
    background: white;
    color: black;
    width: 40vw;
    top: -150vw;
    left:15vw;
    opacity: 1;
    border: 2px solid gray;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.compose-email-open{
    top:100px;
}

.wrapper{
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-email{
    width: 100%;
    margin-top: 30px;
}

.email-preview{
    border:1px solid grey
}
.email-preview> h3{
    margin:4px;

}

.background-dark{
    background-color: #c2d3da;
}

.mobile-menu-button {
    display: none;
    /* position: absolute;
    left: 0;
    top: 0; */
    }
@media (max-width: 600px) {
    .nav-bar {
        height: 80px;
        top: 0;
        position: flex;
        align-items: center;
    }
    .mobile-menu-button {
        display: block;
        position: absolute;
        right: 0;
    }

    .nav-list {
        z-index: 1;
        position: fixed;
        right: 0; 
        top: 80px; 
        flex-direction: column;
        background-color: #00293c;
        opacity: 0.75;
        height: auto;
        /* width: 40vw ; */
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        transform: translate(100%, 0);
        transition: transform .3s;
    }

    .nav-list-open{   
        transform: translate(0, 0);
    }

    .nav-list a {
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left{
        z-index: 1;
        position: fixed;
        right: 0; 
        top: 80px; 
        flex-direction: column;
        background-color: #00293c;
        opacity: 0.75;
        height: auto;
        /* width: 40vw ; */
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        transform: translate(100%, 0);
        transition: transform .3s;
    }

    .email-preview{
        display:flex;
        flex-direction: column;
    }

    .mobile-prev{
        display:flex;
        justify-content: space-between;
        width: 100%
    }            
}
        

/* helpers */
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.column-reverse{
    flex-direction: column-reverse;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.nav-bar{
    text-decoration: none;
}
.cursor{
    cursor: pointer;
}


