body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.nav-bar{
    background-color: rgb(255, 253, 145);
    padding: 20px 30px;
    font-size: 2em;
    /* text-decoration: none; */
}

/* KEEP */
.keep-form{
    margin: 20px;
}
.input-add-note, .input-add-note-title{
    padding: 5px;
}

.save-note button{
    margin: 15px;
    padding: 5px;
}

.note-preview{
    border: 1px solid #dadce0;
    padding: 3px;
    width: 500px;
    margin: 0 auto;
    color: #202124
}

.note-title{
    font-weight: 600;
}


/* helpers */
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

