*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

input{
    width: 100%;
}

.nav-bar{
    background-color: rgb(255, 253, 145);
    padding: 20px 30px;
    font-size: 2em;
    /* text-decoration: none; */
}

/* KEEP */
.keep-form{
    margin:  20px auto;
    max-width: 650px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
}
.input-add-note, .input-add-note-title{
    padding: 10px;
    border: 0;
}

.open-note{
    max-width: 650px;
    margin: 20px auto;
    border: 1px solid #a9a9a9;
    padding: 10px;
    color: #767676;
}

.fa-window-close{

}

.textarea-open{
    width: 100%;
    /* height: 100%; */
    min-height: 150px;

}

.edit-new-note{
    width: 100%;

}

.edit-new-note i {
    flex: 1;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.far, .fas{
    margin: 0 10px;
}

.save-note button{
    margin: 15px;
    padding: 10px;
    border: 0;
    background-color: white;
    border-radius: 3px;
}

.save-note button:hover{
    background-color: rgba(235, 235, 235, 0.8);
}
/* 
.notes-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 20px;
    margin: 0 30px;
} */



.note-preview{
    border: 1px solid #dadce0;
    padding: 3px;
    margin: 5px auto;
    color: #202124;
    border-radius: 4px;
}

.fa-trash-alt{
    cursor: pointer;
}
.note-title{
    font-weight: 600;
    color: #4a4c50;
}
.note-txt{
    color: #767676;
}



ul{
    list-style-type: none;
}

.right, .left{
    border: 1px solid black;
}

.left{
    padding: 10px;
}

.compose{
    margin: 10px;
}

.left > div {
    margin: 10px auto;
}

.search-mail{
    /* margin: 20px; */
    padding: 5px;
}
.search-img{
    background: url('../img/serch\ icon.png');
    background-size: 100%;
    width: 30px;
    height: 30px;
}
.search-area{
    padding-left: 40px;
}

.compose-email{
    position: fixed;
    height: 100%;
    z-index: 3;
    background: white;
    color: black;
    width: 40vw;
    top: -150vw;
    left:15vw;
    opacity: 1;
    border: 2px solid gray;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.compose-email-open{
    top:100px;
}






/* helpers */
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.column-reverse{
    flex-direction: column-reverse;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.nav-bar{
    text-decoration: none;
}
